/**
 * Owl Carousel
 */
/*
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */



/* clearfix */
.clearfix{
	clear: both;
}
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing {
    cursor:url(../images/grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
	  -webkit-transform: translate3d(0,0,0);
	  -moz-transform: translate3d(0,0,0);
	  -ms-transform: translate3d(0,0,0);
}

/**
 * Own Carousel Theme
 */
/*
* 	Owl Carousel Owl Demo Theme
*	v1.3.3
*/

.owl-theme .owl-controls{
	margin-top: 10px;
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(../images/AjaxLoader.gif) no-repeat center center
}
/**
 * Owl Carousel Transitions
 */
/*
 *  Owl Carousel CSS3 Transitions
 *  v1.3.2
 */

.owl-origin {
	-webkit-perspective: 1200px;
	-webkit-perspective-origin-x : 50%;
	-webkit-perspective-origin-y : 50%;
	-moz-perspective : 1200px;
	-moz-perspective-origin-x : 50%;
	-moz-perspective-origin-y : 50%;
	perspective : 1200px;
}
/* fade */
.owl-fade-out {
  z-index: 10;
  -webkit-animation: fadeOut 0.25s ease-in-out;
  -moz-animation: fadeOut 0.25s ease-in-out;
  animation: fadeOut 0.25s ease-in-out;
}
.owl-fade-in {
  -webkit-animation: fadeIn 0.25s ease-in-out;
  -moz-animation: fadeIn 0.25s ease-in-out;
  animation: fadeIn 0.25s ease-in-out;
}
/* backSlide */
.owl-backSlide-out {
  -webkit-animation: backSlideOut 0.25s ease-in-out;
  -moz-animation: backSlideOut 0.25s ease-in-out;
  animation: backSlideOut 0.25s ease-in-out;
}
.owl-backSlide-in {
  -webkit-animation: backSlideIn 0.25s ease-in-out;
  -moz-animation: backSlideIn 0.25s ease-in-out;
  animation: backSlideIn 0.25s ease-in-out;
}
/* goDown */
.owl-goDown-out {
  -webkit-animation: scaleToFade 0.25s ease-in-out;
  -moz-animation: scaleToFade 0.25s ease-in-out;
  animation: scaleToFade 0.25s ease-in-out;
}
.owl-goDown-in {
  -webkit-animation: goDown .6s ease-in-out;
  -moz-animation: goDown .6s ease-in-out;
  animation: goDown .6s ease-in-out;
}
/* scaleUp */
.owl-fadeUp-in {
  -webkit-animation: scaleUpFrom 0.25s ease-in-out;
  -moz-animation: scaleUpFrom 0.25s ease-in-out;
  animation: scaleUpFrom 0.25s ease-in-out;
}

.owl-fadeUp-out {
  -webkit-animation: scaleUpTo 0.25s ease-in-out;
  -moz-animation: scaleUpTo 0.25s ease-in-out;
  animation: scaleUpTo 0.25s ease-in-out;
}

.mg-bottom-30 {
	margin-bottom: 30px;
}
/* Keyframes */
/*empty*/
@-webkit-keyframes empty {
  0% {opacity: 1}
}
@-moz-keyframes empty {
  0% {opacity: 1}
}
@keyframes empty {
  0% {opacity: 1}
}
@-webkit-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-webkit-keyframes backSlideOut {
  25% { opacity: .5; -webkit-transform: translateZ(-500px); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
}
@-moz-keyframes backSlideOut {
  25% { opacity: .5; -moz-transform: translateZ(-500px); }
  75% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
}
@keyframes backSlideOut {
  25% { opacity: .5; transform: translateZ(-500px); }
  75% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
}
@-webkit-keyframes backSlideIn {
  0%, 25% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px); }
  100% { opacity: 1; -webkit-transform: translateZ(0) translateX(0); }
}
@-moz-keyframes backSlideIn {
  0%, 25% { opacity: .5; -moz-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -moz-transform: translateZ(-500px); }
  100% { opacity: 1; -moz-transform: translateZ(0) translateX(0); }
}
@keyframes backSlideIn {
  0%, 25% { opacity: .5; transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; transform: translateZ(-500px); }
  100% { opacity: 1; transform: translateZ(0) translateX(0); }
}
@-webkit-keyframes scaleToFade {
  to { opacity: 0; -webkit-transform: scale(.8); }
}
@-moz-keyframes scaleToFade {
  to { opacity: 0; -moz-transform: scale(.8); }
}
@keyframes scaleToFade {
  to { opacity: 0; transform: scale(.8); }
}
@-webkit-keyframes goDown {
  from { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes goDown {
  from { -moz-transform: translateY(-100%); }
}
@keyframes goDown {
  from { transform: translateY(-100%); }
}

@-webkit-keyframes scaleUpFrom {
  from { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpFrom {
  from { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpFrom {
  from { opacity: 0; transform: scale(1.5); }
}

@-webkit-keyframes scaleUpTo {
  to { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpTo {
  to { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpTo {
  to { opacity: 0; transform: scale(1.5); }
}

/**
 * Stylesheet
 */
ul.dunhakdis-utility-owl-carousel {
	padding: 0;
	margin: 0 -10px;
	display: inline-block;
	width: 100%;
}
ul.dunhakdis-utility-owl-carousel li {
	list-style: none;
	padding: 10px;
}

ul.dunhakdis-utility-list {
	padding: 0;
	margin: 0;
	display: inline-block;
	width: 100%;
}

ul.dunhakdis-utility-list li {
	list-style: none;
}

ul.dunhakdis-utility-testimonials-list .dunhakdis-testimonial-review-author-avatar {
	float: left;
}

ul.dunhakdis-utility-testimonials-list .dunhakdis-testimonial-item {
	display: inline-block;
	width: 100%;
}

ul.dunhakdis-utility-testimonials-list .dunhakdis-testimonial-review-author-avatar {
	float: left;
	width: 20%;
	text-align: center;
}

ul.dunhakdis-utility-testimonials-list .dunhakdis-testimonial-review-author-avatar img {
	border-radius: 50%;
	margin-top: 20px;
}

ul.dunhakdis-utility-testimonials-masonry li {
	float: left;
	width: 33%;
}

	ul.dunhakdis-utility-testimonials-masonry.column-1 li{
		width: 100%;
	}

	ul.dunhakdis-utility-testimonials-masonry.column-2 li{
		width: 50%;
	}

	ul.dunhakdis-utility-testimonials-masonry.column-4 li{
		width: 25%;
	}
ul.dunhakdis-utility-testimonials-list .dunhakdis-testimonial-content-wrap {
	float: left;
	width: 80%;
}

/**
 * Fancy Box Base CSS
 */
.dunhakdis-utility-fancybox {
	position: relative;
}

.dunhakdis-utility-fancybox.hide-default .dunhakdis-utility-fancybox-details-table-cell{
	opacity: 0;
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
}
.dunhakdis-utility-fancybox.hide-default:hover .dunhakdis-utility-fancybox-details-table-cell{
	opacity: 1;
}

.dunhakdis-utility-fancybox-wrap {
	overflow: hidden;
}

.dunhakdis-utility-fancybox-cover-image img  {
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	width: 100%;
	height: auto;
}

.dunhakdis-utility-fancybox-wrap:hover .dunhakdis-utility-fancybox-cover-image img
{
    transform: scale(1.10,1.10) rotate( 2.5deg );
}

.dunhakdis-utility-fancybox-details {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
}

.dunhakdis-utility-fancybox-details-table {
	height: 100%;
	width: 100%;
	display: table;
}

.dunhakdis-utility-fancybox-details-table-cell {
	display: table-cell;
	vertical-align: middle;
}

.dunhakdis-utility-fancybox.vtop .dunhakdis-utility-fancybox-details-table-cell    { vertical-align: top; }
.dunhakdis-utility-fancybox.vbottom .dunhakdis-utility-fancybox-details-table-cell { vertical-align: bottom; }
.dunhakdis-utility-fancybox.vcenter .dunhakdis-utility-fancybox-details-table-cell { vertical-align: center; }

.dunhakdis-utility-fancybox.right .dunhakdis-utility-fancybox-details-table-cell  { text-align: right; }
.dunhakdis-utility-fancybox.left .dunhakdis-utility-fancybox-details-table-cell   { text-align: left; }
.dunhakdis-utility-fancybox.center .dunhakdis-utility-fancybox-details-table-cell { text-align: center; }

.dunhakdis-utility-fancybox-details-table-cell h3 {
	margin: 0;
}

.dunhakdis-utility-fancybox-details-table-cell-wrap {
	padding: 5% 5%;
}

.dunhakdis-utility-fancybox-title,
.dunhakdis-utility-fancybox-excerpt,
.dunhakdis-utility-fancybox-button {
	margin: 10px 0;
}

.dunhakdis-utility-portfolio li.item {
	float: left;
}

.dunhakdis-utility-portfolio.column-1 li.item{ width: 100%; }
.dunhakdis-utility-portfolio.column-2 li.item{ width: 50%; }
.dunhakdis-utility-portfolio.column-3 li.item{ width: 33.3%; }
.dunhakdis-utility-portfolio.column-4 li.item{ width: 25%; }
.dunhakdis-utility-portfolio.column-5 li.item{ width: 20%; }

.dunhakdis-utility-portfolio.style-grid .attachment-grid_size{
	width: 100%;
	height: auto;
}

.dunhakdis-utility-portfolio {
	margin: -5px;
}

@media ( max-width: 758px ) {
	.dunhakdis-utility-portfolio li.item  {
		width: 100%;
		float: none;
	}
}

.dunhakdis-utility-portfolio-wrap {
	position: relative;
	overflow: hidden;
	margin: 5px;
}

.dunhakdis-utility-portfolio-details {
	display: inline-block;
	padding: 20px 20px;
	background: #f2f2f2;
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 100%;

	transform: translateY(125px);
	-moz-transform: translateY(125px);
	-webkit-transform: translateY(125px);

	transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;

	opacity: 0;
}

.dunhakdis-utility-portfolio-wrap:hover .dunhakdis-utility-portfolio-details {
	transform: translateY(0);
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);

	opacity: 1;
}

.dunhakdis-utility-portfolio-details h3 {
	margin: 0;
}

.dunhakdis-utility-portfolio-details-title {
	float: left;
	max-width: 90%;
}

.dunhakdis-utility-portfolio-details-link {
	float: right;
}

/**
 * Blog Masonry
 */
.dunhakdis-utility-blog.masonry {

}

.dunhakdis-utility-blog.masonry li.item {
	width: 25%;
	float: left;
}

.dunhakdis-utility-blog.masonry li.item .blog-item {
	padding: 10px;
}

.dunhakdis-utility-blog.masonry li.item .blog-item .blog-item-thumbnail {
	background: #ccc;
	text-align: center;
}

.dunhakdis-utility-blog.masonry li.item .blog-item .blog-item-title  {
	padding: 15px 0;
}
.dunhakdis-utility-blog.masonry li.item .blog-item .blog-item-title h3{
	margin: 0;
}

.dunhakdis-utility-blog.masonry li.item .blog-item .blog-item-details {
	padding: 10px 15px 25px 15px;
	background: #f2f2f2;
	border-radius: 0 0 6px 6px;
}
.dunhakdis-utility-blog.masonry li.item .blog-item .blog-item-excerpt {
	margin: 10px 0 0 0;
}

/**
 * Blog List
 */
.dunhakdis-utility-blog.list li.item.sticky,
.dunhakdis-utility-blog.list li.item {
	width: 100%;
	float: none;
	display: inline-block;
	margin-bottom: 35px;
}

.dunhakdis-utility-blog.list li.item:last-child {
	margin-bottom: 0;
}
.dunhakdis-utility-blog.list .blog-item-details,
.dunhakdis-utility-blog.list .blog-item-thumbnail {
	float: left;
}
.dunhakdis-utility-blog.list .blog-item-thumbnail {
	width: 20%;
	text-align: center;
	margin-right: 1.5%;
	background: #eee;
}

.dunhakdis-utility-blog.list .blog-item-details {
	width: 78.5%;
}

.dunhakdis-utility-blog.list .blog-item-meta,
.dunhakdis-utility-blog.list .blog-item-excerpt,
.dunhakdis-utility-blog.list .blog-item-title {
	margin: 10px 0;
}

/**
 * Classic
 */
.dunhakdis-utility-blog.classic {
	max-width: 650px;
	display: block;
}

.dunhakdis-utility-blog.classic li.item {
	margin: 35px 0;
}

.dunhakdis-utility-blog.classic .blog-item-title,
.dunhakdis-utility-blog.classic .blog-item-meta,
.dunhakdis-utility-blog.classic .blog-item-excerpt {
	margin: 10px 0;
}

.dunhakdis-utility-blog.classic .blog-item-comments-number,
.dunhakdis-utility-blog.classic .blog-item-date,
.dunhakdis-utility-blog.classic .blog-item-comments-categories,
.dunhakdis-utility-blog.classic .blog-item-author {
	display: inline;
	margin: 0 5px 0 0;
}

.dunhakdis-utility-blog.classic .blog-item-thumbnail  {
	text-align: center;
	background: #eee;
}

/**
 * Carousel
 */
.dunhakdis-utility-blog .carousel li.post {
	padding: 15px;
}
.dunhakdis-utility-blog .carousel .blog-item-title,
.dunhakdis-utility-blog .carousel .blog-item-meta,
.dunhakdis-utility-blog .carousel .blog-item-excerpt {
	margin: 10px 0;
}

.dunhakdis-utility-blog .carousel .blog-item-meta .blog-item-comments-number,
.dunhakdis-utility-blog .carousel .blog-item-meta .blog-item-date,
.dunhakdis-utility-blog .carousel .blog-item-meta .blog-item-comments-categories,
.dunhakdis-utility-blog .carousel .blog-item-meta .blog-item-author {
	padding: 0;
	display: inline;
	margin: 0 2.5px 0 0;
}

.dunhakdis-utility-blog.carousel .blog-item-thumbnail {
	background: #eee;
	text-align: center;
}
 /**
 * Icon
 */
.dunhakdis_icon_container{
    width: 100%;
    float: left;
    margin-bottom: 15px;
}
.dunhakdis_icon {
    float: left;
    margin-right: 5px;
}
.dunhakdis_icon:before{
    position: relative;
    top: 2.5px;
}
.dunhakdis_icon_container p{
	display: inline-block;
    float: left;
    margin: 0;
}
/**
 * Easy Cart
 */
.dunhakdis-utility-easycart-product-carousel h3.item-title {
    margin: 15px 0;
    font-size: 16px;
    line-height: 1.3;
    padding: 0 15px;
}

/**
 * Blog Widget
 */
.dunhakdis_blog_post_widget ul{
	list-style: none;
	padding: 0;
}
.dunhakdis_blog_post_widget li {
    width: 100%;
    float: left;
    margin-bottom: 15px;
}
.dunhakdis_blog_post_widget .dutility-blog-posts-item {
    float: left;
    width: 100%;
}
.dunhakdis_blog_post_widget .dutility-blog-posts-item .dutility-blog-posts-item-thumbnail {
    width: 30%;
    float: left;
}
.dunhakdis_blog_post_widget .dutility-blog-posts-item .dutility-blog-posts-item-details {
    width: 70%;
    float: left;
}
.dunhakdis_blog_post_widget .dutility-blog-posts-item .dutility-blog-posts-item-details .dutility-blog-posts-item-details-title {
    width: 100%;
    float: left;
}
.dunhakdis_blog_post_widget .dutility-blog-posts-item .dutility-blog-posts-item-details .dutility-blog-posts-item-details-comment {
    width: 100%;
    float: left;
}
/**
 * Social Media Widget
 */
.dunhakdis_social_media_widget ul {
	list-style: none;
	padding: 0;
}
.dunhakdis_social_media_widget li {
	display: inline-block;
	float: left;
	margin: 0 2.5px 5px;
}
.dunhakdis_social_media_widget li:first-of-type {
	margin-left: 0;
}
.dunhakdis_social_media_widget li:last-of-type {
	margin-right: 0;
}
.dunhakdis_social_media_widget li .dutility-social-media-link a {
  line-height: 34px;
  text-align: center;
  font-size: 17px;
  position: relative;
  padding: 0;
  width: 34px;
  height: 34px;
  border: 2px solid #cccccc;
  display: inline-block;
  border-radius: 99px;
}
.dunhakdis_social_media_widget li .dutility-social-media-link a:before,
.dunhakdis_social_media_widget li .dutility-social-media-link a:after {
  position: absolute;
  opacity: 0;
  z-index: 1000000;

  -webkit-transition: all 0.3s ease-in-out;
	 -moz-transition: all 0.3s ease-in-out;
	 	  transition: all 0.3s ease-in-out;
  pointer-events: none;
}
.dunhakdis_social_media_widget li .dutility-social-media-link:hover a:before,
.dunhakdis_social_media_widget li .dutility-social-media-link:hover a:after {
  opacity: 1
}
.dunhakdis_social_media_widget li .dutility-social-media-link a:before {
  content: '';
  background: transparent;
  border: 6px solid transparent;
  top: 100%;
  left: 35%;
  margin: -14px 0 0 0;
  border-bottom-color: #000;
}
.dunhakdis_social_media_widget li .dutility-social-media-link:hover a:before {
  -webkit-transform: translateY(12px);
  	 -moz-transform: translateY(12px);
	 	  transform: translateY(12px);
}
.dunhakdis_social_media_widget li .dutility-social-media-link a:after {
  content: attr(data-hint);
  background: #000;
  color: #fff;
  padding: 8px 10px;
  margin: -2px 0 0 -10px;
  font-size: 12px;
  white-space: nowrap;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  top: 100%;
  left: 35%;
}
.dunhakdis_social_media_widget li .dutility-social-media-link:hover a:after {
  -webkit-transform: translateY(10.5px);
  	 -moz-transform: translateY(10.5px);
	 	  transform: translateY(10.5px);
}
.dunhakdis_social_media_widget li .dutility-social-media-link a span {
    line-height: 32px;
}
